<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      </head>
<body>
    <h3>
        Welcome to login page
    </h3>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    <div id="Login">
        <h3 class="title">Login</h3>
        <div class="box">
            <form method="POST" action="/login">
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                    </div>
                </div>
    
                <div class="field">
                    <div class="control">
                        <input class="input is-large" type="password" name="password" placeholder="Your Password">
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        Remember me
                    </label>
                </div>
                <br>
    <div>
            <a href="{{ url_for('my_auth.signup') }}" class="navbar-item">
                Not a member ? Register here
            </a>
            
    </div>
    <br>
                <button class="button">Login</button>
            </form>
        </div>

</body>
</html>