<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      </head>
<body>
    
  <h3>


    <div id="Login">
       Hello, {{ user_data }}
       <br>
       <br>
       

    <div>
      <a href="{{ url_for('my_auth.logout') }}" class="navbar-item">
        Logout
    </a>
    <br>
    <a href="{{ url_for('my_app.index') }}" class="navbar-item">
        Home
    </a>

    

    <br>
    {% if current_user.admin %}
    <a href="{{ url_for('my_app.editusers') }}" class="navbar-item">
        Administrate users
    </a>
    {% else %}
      User administration disabled. Get administrator rights!
    {% endif %}
    </div>

    
    

    
</div>
 
<div id="Login">
    Here comes stuff a logged-in non-administrator user is allowed do
    <br>
    <br>
    

</div>

</body>
</html>